<section class="call" id="call">
  <div class="container call-container">
    <div class="call-text-wrap">
      <h2 class="call-title">Fresh Harvest Box has got you covered</h2>
      <p class="call-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
      <form class="call-form">
        <label for="user-phone" class="call-label"></label>
        <input
          type="tel"
          class="call-input"
          name="user-phone"
          id="user-phone"
          placeholder="+380 ()"
          pattern="[\+]\d{3}[\(]\d{2}[\)]\d{3}[\-]\d{2}[\-]\d{2}"
        />
        <button type="submit" class="call-btn">Recall</button>
      </form>
    </div>

    <div class="call-img-wrap">
      <img
        src="./img/call/girl-2.png"
        alt="girl with broccoli"
        srcset="./img/call/girl-2.png 1x, ./img/call/girl-2@2x.png 2x"
        width="335"
        height="357"
      />
    </div>
  </div>
</section>
