<footer class="footer" >
  <div class="footer-container container"> <div class="img-plus-logo-container container">
 
 <div class="footer-logo-and-background">
   <div class="footer-vegetable">
     <img src="./img/footer/vegetables-1.png" alt="Vegetables">
   </div>
 
 <a class="footer-logo-link footer-font" href="#header">
   <svg class="footer-logo-icon" width="16" height="16">
     <use href="./img/javascript.svg#icon-logo"></use>
   </svg>
   <p class="footer-logo-text">Veggieboost</p>
 </a>
 </div>
 
 
 <div class="footer-menu">     <ul class="footer-menu-ul">
   <li class="footer-menu-ul-li">
     <a href="#order" class="footer-menu-ul-li-a footer-font">How It Works</a>
   </li>
   <li class="footer-menu-ul-li">
     <a href="#vegetables" class="footer-menu-ul-li-a footer-font">Vegetables</a>
   </li>
   <li class="footer-menu-ul-li">
     <a href="#call" class="footer-menu-ul-li-a footer-font">Contacts</a>
   </li>
 </ul></div>
 
 
       </div>
 
 
 
 
 <div class="footer-menu-container">
 
 
   <ul class="footer-soc-list">
     <li class="footer-soc-item">
       <a href="" class="footer-soc-link">
         <svg class="footer-soc-svg" width="24" height="24">
           <use href="./img/javascript.svg#icon-facebook"></use>
         </svg>
       </a>
     </li>
     <li class="footer-soc-item" >
       <a href="" class="footer-soc-link">
         <svg class="footer-soc-svg" width="24" height="24">
           <use href="./img/javascript.svg#icon-instagram"></use>
         </svg>
       </a>
     </li>
     <li class="footer-soc-item">
       <a href="" class="footer-soc-link">
         <svg class="footer-soc-svg" width="24" height="24">
           <use href="./img/javascript.svg#icon-youtube"></use>
         </svg>
       </a>
     </li>
   </ul>
 
   <a href="tel:+380684439426" class="footer-tel  footer-font" >+380 (68) 443-94-26</a>
   
   <p class="footer-address  footer-font">1678 S. Pioneer Road
     Salt Lake City
     UT 84104</p>
 
 </div></div>
 </footer>