<header class="header">
  <div class="container header-continer">
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">How It Works</li>
        <li class="header-nav-item">Vegetables</li>
        <li class="header-nav-item">Contacts</li>
      </ul>
    </nav>

    <a class="header-logo-link" href="./index.html">
      <svg class="header-logo-icon" width="16" height="16">
        <use href="./img/javascript.svg#icon-logo"></use>
      </svg>
      <p class="header-logo-text">Veggieboost</p>
    </a>

    <button class="header-cart-button" type="button">
      <svg class="header-cart-icon" width="20" height="20">
        <use href="./img/javascript.svg#icon-cart"></use>
      </svg>
    </button>
  
    <button class="header-hamburger-button menu-toggle js-open-menu" type="button" 
    aria-expanded="false"
    aria-controls="mobile-menu">
      <!-- <svg class="header-hamburger-icon" width="24" height="24">
        <use href="./img/javascript.svg#icon-hamburger"></use>
      </svg> -->
      <div class="hamburger">
        <div></div>
      </div>
    </button>
  </div>

  <!-- Mob menu -->

  <div class="menu-container js-menu-container" id="mobile-menu">
    <button type="button" class="menu-toggle js-close-menu">
      <svg class="mob-menu-icon" width="24" height="24">
        <use href="/img/javascript.svg#icon-close"></use>
      </svg>
    </button>

    <ul class="mob-menu-list list">
      <li class="mob-menu-item">
        <a class="mob-menu-link link active" href="#order"
          >How It Works</a
        >
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link link" href="#vegetables">Vegetables</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link link" href="#footer">Contacts</a>
      </li>
      <li class="mob-menu-item">
        <a href="#module" class="mob-menu-link link">
          <svg class="menu-cart-icon" width="20" height="20">
            <use href="/img/javascript.svg#icon-cart"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
