<section class="hero" id="hero">
  <div class="container container-hero">
    <div class="hero-dekstop-leftside">
      <img
        class="hero-img"
        srcset="./img/hero/img-1.webp 1x, ./img/hero/img-1@2x.webp 2x"
        src="./img/hero/img-1.webp"
        alt="2k reviews"
        width="129"
        height="44"
      />
      <h1 class="hero-scnd-ttl" data-aos="fade-right" data-aos-duration="2000">
        organic
        <span data-aos="zoom-in" data-aos-duration="3000"
          ><em>vegetables</em></span
        >
        to your diet today!
      </h1>
      <p
        class="hero-text"
        data-aos="fade-right"
        data-aos-duration="2000"
        data-aos-delay="1000"
      >
        Our expertly curated vegetable baskets are made with the freshest,
        highest quality vegetables available. Fresh Harvest Box has got you
        covered. Fresh, high-quality vegetables in expertly curated vegetable
        baskets delivered to you.
      </p>
      <button class="hero-btn hero-anime" type="button" data-first-open>
        SHOP NOW
      </button>
    </div>
    <div class="hero-dekstop-rightside">
      <img
        class="hero-logo-back"
        srcset="./img/hero/img-2.webp 1x, ./img/hero/img-2@2x.webp 2x"
        src="./img/hero/img-2.webp"
        alt=""
        width="230"
        height="228"
      />
      <div class="hero-container">
        <ul
          class="hero-list-link"
          data-aos="fade-left"
          data-aos-duration="1500"
          data-aos-delay="1000"
        >
          <li class="hero-link-item"><a href="footer">#organic</a></li>
          <li class="hero-link-item"><a href="#call">#products</a></li>
          <li class="hero-link-item"><a href="#order">#basket</a></li>
          <li class="hero-link-item"><a href="#vegetables">#vegetables</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- !**** MODAL MENU ****! -->
</section>
