<section class="order" id="order">
  <div class="container order-container">
    <div class="order-title-container">
      <div class="order-top-container">
        <h2 class="order-title slide-in-left">
          To order your vegetable basket, simply follow these easy steps
        </h2>
        <div class="order-title-pic fade-in-down"></div>
      </div>
      <ul class="order-text-list fade-in-up">
        <li class="text-list-item">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </li>
        <li class="text-list-item">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </li>
      </ul>
    </div>

    <div class="order-buy-container">
      <div class="buy-steps-container">
        <h3 class="buy-title">3 Easy Steps for Buying Fresh Vegetables</h3>
        <ol class="buy-steps-list bounce-in-right">
          <li class="buy-steps-item">
            Just choose the vegetable you want to order by clicking on the
            checkboxes next to it.
          </li>
          <li class="buy-steps-item">
            Click on the basket and fill out the form.
          </li>
          <li class="buy-steps-item">
            Sit back and relax! Your fresh vegetables basket will be delivered.
          </li>
        </ol>
      </div>
      <div class="buy-pic-wrap">
        <img
          srcset="./img/order/girl.png 1x, ./img/order/girl@2x.png 2x"
          src="./img/order/girl.png"
          alt="happy girl with banch of salad"
          class="buy-container-pic grow"
          width="258"
          height="319"
        />
      </div>
    </div>
  </div>
</section>
