<section class="vegetables" id="vegetables">
  <div class="container">
    <h3 class="header-veg">ORGANIC VEGETABLES</h3>
    <p class="main-text-veg">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="veg-list">
      <li class="veg-item">
        <div class="text-item-up">
          <h4 class="item-name">Carrot</h4>
          <p class="item-description">Plant</p>
        </div>
        <img
          srcset="
            ./img/vegetables/carrot.png    1x,
            ./img/vegetables/carrot@2x.png 2x
          "
          src="./img/vegetables/carrot.png"
          alt="carrot"
          width="321"
          height="266"
        />
        <p class="item-price">100 UAH / kg</p>
      </li>
      <li class="veg-item">
        <div class="text-item-up">
          <h4 class="item-name">Brussel sprouts</h4>
          <p class="item-description">Plant</p>
        </div>
        <img
          srcset="
            ./img/vegetables/brussel.png    1x,
            ./img/vegetables/brussel@2x.png 2x
          "
          src="./img/vegetables/brussel.png"
          alt="brussel"
          width="321"
          height="266"
        />
        <p class="item-price">80 UAH / kg</p>
      </li>
      <li class="veg-item">
        <div class="text-item-up">
          <h4 class="item-name">Tomato</h4>
          <p class="item-description">Plant</p>
        </div>
        <img
          srcset="
            ./img/vegetables/tomato.png    1x,
            ./img/vegetables/tomato@2x.png 2x
          "
          src="./img/vegetables/tomato.png"
          alt="tomato"
          width="321"
          height="266"
        />
        <p class="item-price">40 UAH / kg</p>
      </li>
      <li class="veg-item">
        <div class="text-item-up">
          <h4 class="item-name">Eggplant</h4>
          <p class="item-description">Plant</p>
        </div>
        <img
          srcset="
            ./img/vegetables/eggplant.png    1x,
            ./img/vegetables/eggplant@2x.png 2x
          "
          src="./img/vegetables/eggplant.png"
          alt="eggplant"
          width="321"
          height="266"
        />
        <p class="item-price">60 UAH / kg</p>
      </li>
      <li class="veg-item">
        <div class="text-item-up">
          <h4 class="item-name">Sweet potatoes</h4>
          <p class="item-description">Plant</p>
        </div>
        <img
          srcset="
            ./img/vegetables/potatoes.png    1x,
            ./img/vegetables/potatoes@2x.png 2x
          "
          src="./img/vegetables/potatoes.png"
          alt="potatoes"
          width="321"
          height="266"
        />
        <p class="item-price">80 UAH / kg</p>
      </li>
      <li class="veg-item">
        <div class="text-item-up">
          <h4 class="item-name">Leek</h4>
          <p class="item-description">Plant</p>
        </div>
        <img
          srcset="./img/vegetables/leek.png 1x, ./img/vegetables/leek@2x.png 2x"
          src="./img/vegetables/leek.png"
          alt="leek"
          width="321"
          height="266"
        />
        <p class="item-price">50 UAH / kg</p>
      </li>
      <li class="veg-item">
        <div class="text-item-up">
          <h4 class="item-name">Mushrooms</h4>
          <p class="item-description">Plant</p>
        </div>
        <img
          srcset="
            ./img/vegetables/mushrooms.png    1x,
            ./img/vegetables/mushrooms@2x.png 2x
          "
          src="./img/vegetables/mushrooms.png"
          alt="mushrooms"
          width="321"
          height="266"
        />
        <p class="item-price">40 UAH / kg</p>
      </li>
      <li class="veg-item">
        <div class="text-item-up">
          <h4 class="item-name">Corn</h4>
          <p class="item-description">Plant</p>
        </div>
        <img
          srcset="./img/vegetables/corn.png 1x, ./img/vegetables/corn@2x.png 2x"
          src="./img/vegetables/corn.png"
          alt="corn"
          width="321"
          height="266"
        />
        <p class="item-price">60 UAH / kg</p>
      </li>
      <li class="veg-item add-redish">
        <div class="text-item-up">
          <h4 class="item-name">Radish</h4>
          <p class="item-description">Plant</p>
        </div>
        <img
          srcset="
            ./img/vegetables/redish.png    1x,
            ./img/vegetables/redish@2x.png 2x
          "
          src="./img/vegetables/redish.png"
          alt="redish"
          width="321"
          height="266"
        />
        <p class="item-price">90 UAH / kg</p>
      </li>
    </ul>
  </div>

  <button type="button" class="btn-veg veg-anime" data-modal-open>
    <svg class="vector-btn" width="14" height="14">
      <use href="./img/javascript.svg#icon-arrow"></use>
    </svg>
    ORDER
  </button>
</section>
