html {
  scroll-behavior: smooth;
}
.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/**===== ANIMATIONS =====*/

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/**-------------------------*/

@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

/**-------------------------*/

@keyframes slide-in-left {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  50% {
    opacity: 1;
    transform: translateX(20px);
  }
  70% {
    transform: translateX(-15px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

/**-------------------------*/

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  50% {
    transform: translateY(25px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/**-------------------------*/
