html {
  scroll-behavior: smooth;
}
.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}