.call {
  padding-bottom: 80px;
}

.call-title {
  text-align: center;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 20px;
}

.call-text {
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  max-width: 321px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.call-form {
  position: relative;
  margin-bottom: 40px;
}

.call-input {
  border-radius: 100px;
  border: 1px solid var(--black);
  opacity: 0.3;
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 15px 115px 15px 24px;
  outline: transparent;
  color: var(--black);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
}

.call-input:hover,
.call-input:focus {
  border-color: var(--orange);
}

.call-input::placeholder {
  color: #c1bdbd;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
}

.call-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px 35px;
  background-color: var(--orange);
  border-radius: 100px;
  border: none;
  min-width: 105px;
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.04em;
}

.call-btn:is(:hover, :focus) {
  background-color: var(--accent);
  outline: none;
}

.call-img-wrap {
  background-image: url(../img/call/bg-2.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-color: #faf3e7;
  padding-top: 30px;
  border-radius: 40px;
}

.call-img-wrap img {
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .call-img-wrap {
    background-image: url(../img/call/bg-2@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .call {
    padding-bottom: 173px;
  }

  .call-title {
    font-size: 40px;
    max-width: 524px;
    line-height: 1.11;
  }

  .call-text {
    font-size: 18px;
    max-width: 450px;
    line-height: 1.33;
  }

  .call-form {
    margin-bottom: 80px;
  }

  .call-input {
    max-width: 355px;
  }

  .call-btn {
    right: 174px;
  }

  .call-img-wrap {
    background-image: url(../img/call/bg-2tab.png);
    border-radius: 80px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .call-img-wrap {
      background-image: url(../img/call/bg-2tab@2x.png);
    }
  }
}

@media screen and (min-width: 1280px) {
  .call {
    padding-bottom: 124px;
  }

  .container.call-container {
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .call-img-wrap {
    background-image: url(../img/call/bg-2desk.png);
    max-width: 525px;
    padding-top: 37px;

    display: flex;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .call-img-wrap {
      background-image: url(../img/call/bg-2desk@2x.png);
    }
  }

  .call-title {
    font-size: 48px;
    text-align: left;
    max-width: 614px;
    line-height: 1.04;
    margin-bottom: 40px;
  }

  .call-img-wrap img {
    width: 525px;
  }

  .call-text {
    max-width: 523px;
    text-align: left;
    margin: 0;
    margin-bottom: 80px;
  }

  .call-form {
    margin-bottom: unset;
  }

  .call-input {
    margin: 0;
    max-width: 350px;
  }

  .call-btn {
    right: 265px;
  }
}
