.header {
  padding-top: 13px;
  padding-bottom: 13px;
}
.header-continer {
  display: flex;
  align-items: center;
}
.header-nav {
  display: none;
}
.header-logo-link {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header-logo-icon {
  fill: var(--accent);
}
.header-logo-text {
  color: var(--black);
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}
.header-hamburger-button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
}
.header-hamburger-icon {
  fill: var(--accent);
}
.header-cart-button {
  display: none;
}

.menu-container {
  bottom: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: var(--accent);
  top: 50px;
  left: 0;
  z-index: 999;
  padding-top: 124px;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
  pointer-events: auto;
  visibility: visible;
}

.js-menu-container {
}
.js-close-menu {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 13px;
  right: 20px;
  margin-left: auto;
  padding: 0;
  line-height: 0;
  color: #77ac63;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  border: 1px solid #e7e9fc;
  margin-bottom: 32px;
  cursor: pointer;
}
.mob-menu-list {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mob-menu-item {
  margin-bottom: 16px;
}
.mob-menu-link {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: 0.04em;
}

.menu-cart-icon {
  fill: transparent;
  stroke: #ffffff;
}

/* -----------------------TABLET--------------- */
@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
    padding: 0 32px;
  }
  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .header-hamburger-button {
    display: none;
  }
  .header-nav {
    display: block;
    margin-right: 86px;
  }
  .header-nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
  }
  .header-nav-item {
    color: var(--black);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.04em;
  }
  .header-cart-button {
    display: block;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 0;
  }
  .header-cart-icon {
    fill: transparent;
    stroke: var(--black);
  }
}

/* -------------------DESKTOP------------------- */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .header {
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .header-nav {
    margin-right: 308px;
    gap: 20px;
  }
  .header-cart-button {
    height: 24px;
    width: 24px;
  }
}
.hamburger:before,
.hamburger div,
.hamburger:after {
  content: '';
  display: block;
  background: var(--accent);
  height: 2px;
  border-radius: 3px;
  transition: 0.5s;
}

.hamburger:before {
  width: 10px;
}
.hamburger:after {
  width: 13px;
}
.hamburger div {
  width: 20px;
  margin: 4px 0;
}
.hamburger.active:before {
  width: 20px;
  transform: translateY(6px) rotate(135deg);
}
.hamburger.active:after {
  width: 20px;
  transform: translateY(-6px) rotate(-135deg);
}
.hamburger.active div {
  transform: scale(0);
}
