.header {
  padding-top: 13px;
  padding-bottom: 13px;
}
.header-container {
  display: flex;
  align-items: center;
  position: relative;
}
.header-nav {
  display: none;
}
.header-logo-link {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header-logo-icon {
  fill: var(--accent);
}
.header-logo-text {
  color: var(--black);
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

/*! ========= BUTTONS ============== */

.button-container {
  position: absolute;
  top: -12px;
  right: 0;
}

.header-hamburger-button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-left: auto;
  padding: 0;
}

.hamburger {
  flex-direction: column;
  position: relative;
  top: 10px;
  right: 20px;
  width: 24px;
  height: 24px;
}

.hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 24px;
  background-color: #77ac63;
  border-radius: 1px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.hamburger span:nth-child(1) {
  width: 12px;
  top: 4px;
  left: 0;
}

.hamburger span:nth-child(2) {
  width: 22px;
  top: 10px;
  left: 0;
}

.hamburger span:nth-child(3) {
  width: 16px;
  top: 16px;
  left: 0;
}

.menu-container.is-open + .button-container > .hamburger span:nth-child(1) {
  transform: rotate(45deg);
  width: 22px;
  top: 10px;
  left: -2px;
}

.menu-container.is-open + .button-container > .hamburger span:nth-child(2) {
  opacity: 0;
}

.menu-container.is-open + .button-container > .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  width: 22px;
  top: 10px;
  left: -2px;
}

/*! ==================================== */

.header-cart-button {
  display: none;
}

.menu-container {
  bottom: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: var(--accent);
  top: 50px;
  left: 0;
  z-index: 999;
  padding-top: 124px;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
  pointer-events: auto;
  visibility: visible;
}

.js-close-menu {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 13px;
  right: 20px;
  margin-left: auto;
  padding: 0;
  line-height: 0;
  color: #77ac63;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  border: 1px solid #e7e9fc;
  margin-bottom: 32px;
  cursor: pointer;
}
.mob-menu-list {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mob-menu-item {
  margin-bottom: 16px;
}
.mob-menu-link {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: 0.04em;
}

.menu-cart-icon {
  fill: transparent;
  stroke: #ffffff;
}

/* -----------------------TABLET--------------- */
@media screen and (min-width: 768px) {
  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .header-hamburger-button {
    display: none;
  }
  .header-nav {
    display: block;
    margin-right: 86px;
  }
  .header-nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
  }
  .header-nav-item {
    color: var(--black);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.04em;
  }
  .header-cart-button {
    position: absolute;
    top: 12px;
    right: 32px;
    display: block;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 0;
  }
  .header-cart-icon {
    fill: transparent;
    stroke: var(--black);
  }
}

/* -------------------DESKTOP------------------- */
@media screen and (min-width: 1280px) {
  .header {
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .header-nav {
    margin-right: 308px;
    gap: 20px;
  }
  .header-nav-link:is(:hover, :focus) {
    color: var(--accent);
  }
  .header-cart-button {
    height: 24px;
    width: 24px;
  }
}
