.order {
  padding-top: 80px;
  padding-bottom: 80px;
}
.order-title-container {
  margin-bottom: 80px;
}

.order-title {
  color: var(--black);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.order-title-pic {
  background-image: url(../img/order/img-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 100px;
  max-width: 335px;
  height: 158px;
  margin-bottom: 20px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .order-title-pic {
    background-image: url(../img/order/img-1@2x.png);
  }
}

.order-text-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.text-list-item {
  color: var(--black);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
}

.order-buy-container {
  border-radius: 40px;
  background-image: radial-gradient(rgba(161, 196, 135, 0.5) 4%, #faf3e7 10%);
  background-size: 50px 50px;
  height: auto;
  width: auto;
  overflow: hidden;
  padding: 40px 20px;
  padding-bottom: 0;
}

.buy-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.buy-steps-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 0;
  counter-reset: item-counter;
}

.buy-steps-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
  max-width: 230px;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04em;
  counter-increment: item-counter;
}

.buy-steps-item::before {
  content: counter(item-counter);
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  font-size: 18px;
  line-height: 1;
  background: var(--accent);
  border-radius: 50%;
}

.buy-container-pic {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .order-title-container {
    margin-bottom: 100px;
  }

  .order-top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 40px;
  }

  .order-title {
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -0.04em;
    margin-bottom: 0;
  }

  .order-text-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .text-list-item {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.04em;
    max-width: 317px;
  }

  .text-list-item:last-child {
    max-width: 279px;
  }

  .order-title-pic {
    min-width: 310px;
    height: 176px;
    margin-bottom: 0;
  }

  .order-buy-container {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    padding: 80px 40px;
  }

  .buy-pic-wrap {
    position: absolute;
    width: 350px;
    height: 446px;
    bottom: 0;
    left: 20px;
  }

  .buy-container-pic {
    width: 350px;
    height: 446px;
  }

  .buy-steps-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 274px;
    gap: 40px;
  }

  .buy-title {
    font-size: 28px;
    line-height: 1.14;
  }

  .buy-steps-list {
    margin: 0;
  }

  .buy-steps-item::before {
    min-width: 46px;
    min-height: 46px;
  }

  .buy-steps-item {
    max-width: 231px;
  }
}

@media (min-width: 1280px) {
  .order-title {
    font-size: 48px;
    max-width: 614px;
    line-height: 1.04;
  }

  .order-title-pic {
    border-radius: 100px;
    min-width: 410px;
    height: 170px;
  }

  .order-text-list {
    gap: 40px;
  }

  .text-list-item {
    max-width: 352px;
  }

  .order-title-container {
    margin-bottom: 124px;
  }

  .order-buy-container {
    padding: 80px 80px 84px;
  }

  .buy-steps-container {
    max-width: 512px;
  }

  .buy-title {
    font-size: 40px;
    line-height: 1.1;
  }

  .buy-steps-item {
    max-width: 350px;
  }

  .buy-steps-item:nth-child(2) {
    max-width: 226px;
  }

  .buy-pic-wrap {
    width: 434px;
    height: 420px;
    left: 70px;
  }

  .buy-container-pic {
    height: auto;
  }
}
