/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./modern-normalize');
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./order.css');
@import url('./instruction.css');
@import url('./vegetables.css');
@import url('./call.css');
@import url('./footer.css');
@import url('./module.css');

:root {
  --accent: #A1C487;
  --orange: #FC8A11;
  --black: #141414;
  --grey: #F3F3F3;
  --light-grey: #EAF7E5;
  --light-grey2: #FAF3E7;

  font-family: 'DMSans-Regular', sans-serif;
}

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}