.vegetables {
  padding-bottom: 80px;
}
.header-veg,
.main-text-veg {
  color: var(--black);
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.header-veg {
  font-weight: 500;
  margin-bottom: 14px;
}

.main-text-veg {
  font-weight: 400;
  margin-bottom: 40px;
}
.header-veg,
.item-name {
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.96px;
}
.main-text-veg,
.item-price {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.56px;
}
.veg-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.item-name {
  font-weight: 700;
  padding-bottom: 8px;
}
.item-price {
  font-weight: 500;
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
  padding-left: 20px;
}
.veg-item {
  width: 335px;
  height: 443px;
  background: var(--light-grey);
  position: relative;
  border-radius: 20px;
  display: block;
  align-items: center;
  justify-content: center;
}

.text-item-up {
  padding-top: 40px;
  padding-left: 20px;
}

.item-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
}

.btn-veg {
  width: 80px;
  height: 80px;
  margin: 20px auto 8px;
  align-items: center;
  justify-content: center;
  display: flex;
  align-self: center;
  transform: rotate(-14deg);
  color: var(--white);
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  border-radius: 50%;
  background-color: var(--orange);
}

.veg-anime {
  transition: all 0.3s ease-in-out 0s;
  box-shadow: #c1f4f6b2 0px 0px 0px 0px;
  animation: 1.2s cubic-bezier(0.8, 0, 0, 1) 0s infinite normal none running
    pulse;
  border: 0;
}

.btn-veg:is(:hover, :focus) {
  background: var(--accent);
}

.vector-btn {
  margin-right: 4px;
  stroke: var(--white);
  fill: var(--white);
}
.add-redish {
  display: none;
}

/* tablet media 1section */
@media screen and (min-width: 768px) {
  .vegetables {
    padding-bottom: 100px;
  }

  .header-veg {
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -1.12px;
  }

  .main-text-veg {
    width: 562px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.72px;
  }

  .btn-veg {
    width: 114px;
    height: 114px;
  }

  .veg-item {
    width: calc((100% - 20px) / 2);
  }
}

@media (min-width: 1280px) {
  .vegetables {
    padding-bottom: 124px;
  }

  .btn-veg {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.72px;
  }
  .add-redish {
    display: block;
  }

  .veg-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  .veg-list {
    gap: 24px;
  }
  .text-item-up {
    padding-top: 64px;
    padding-left: 24px;
  }
}
